#Â Grand Challenge

We have here some (simulated) data from a bike manufacturer. The data shows what type and how many bikes were sold in the US.

We can use this information to find out more about which products are selling well.

The business can then use this information to optimise their product strategy.

## In Your Business

If you work for a product-based business, this example is directly transferable to your business. Using this an example to work from, you will be able to generate value for you business almost immediately. 

If you work for a service based business, can you obtain data about your users? Most services keep logs related to users. Maybe you could use this data to "characterise" your users. You could then optimise your services by focusing on those users.

## Logistics

I'm going to load the data in and provide functions for some of the advanced processing, but the rest is left to you.

As usual, if you get stuck, ask for help, work in teams or take a look at the answers (last resort please!).

If we have time, we can nominate someone to come up and present their working! :-)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
import numpy as np

orders = pd.read_excel('data/orders.xlsx')
products = pd.read_excel('data/bikes.xlsx', index_col=0)
customers = pd.read_excel('data/bikeshops.xlsx', index_col=0)

In [2]:
display(orders.head())
display(products.head())
display(customers.head())

   order.id  order.line order.date  customer.id  product.id  quantity
1         1           1 2011-01-07            2          48         1
2         1           2 2011-01-07            2          52         1
3         2           1 2011-01-10           10          76         1
4         2           2 2011-01-10           10          52         1
5         3           1 2011-01-10            6           2         1

                                  model category1   category2   frame  price
bike.id
1               Supersix Evo Black Inc.      Road  Elite Road  Carbon  12790
2              Supersix Evo Hi-Mod Team      Road  Elite Road  Carbon  10660
3        Supersix Evo Hi-Mod Dura Ace 1      Road  Elite Road  Carbon   7990
4        Supersix Evo Hi-Mod Dura Ace 2      Road  Elite Road  Carbon   5330
5            Supersix Evo Hi-Mod Utegra      Road  Elite Road  Carbon   4260

,bikeshop.name,bikeshop.city,bikeshop.state,latitude,longitude
bikeshop.id,,,,,
1,Pittsburgh Mountain Machines,Pittsburgh,PA,40.440625,-79.995886
2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881
3,Columbus Race Equipment,Columbus,OH,39.961176,-82.998794
4,Detroit Cycles,Detroit,MI,42.331427,-83.045754
5,Cincinnati Speed,Cincinnati,OH,39.103118,-84.512020

In [3]:
from sklearn.decomposition import PCA

def flatten(X):
    """Map n-dimensional data into 2-D for plotting"""
    X_pca = PCA(n_components=2)
    return X_pca.fit_transform(X)

## Where To Start

You might be thinking, where do I start? Let me outline this for you.

The goal is to "characterise" your customers. Or more generally, inspect the data to see if there are any patterns.

What we can do is theorise about our customers and try to create some data to represent hypotheses. For example, being a bike manufacturer, I theorise that there are at least two distinct markets: road bikes and mountain bikes. Secondly, I suspect that there are different sizes of customers: national chains and local stores.

Ultimately, we're interesting in characterising their buying behaviour. We could focus purely on net sales, but that might overweight small numbers of expensive bikes sold. Also, we haven't been given any profit margin data, so we can't assume that the expensive bikes produce the largets profit (profit is always the goal!).

So, instead, let's focus on the number units sold.

This has now directed us towards which dimensions we want to represent in our data.

1. Businesses
2. Type/Model of bike

Where we are counting the numbers of bikes sold to each business by model.

In other words, we need to create a matrix with columns as businesses, rows as type/model of bike and the values are the numbers of bikes sold.

## Tasks

- Clean the data
  - Some of the headers aren't very descriptive. Fix that.
  - Decide in which columns you are interested in, ignore the rest for now.
  - Plot and visualise the data to see if there are any anomolies.
- Convert the data into a format similar to that recommended above.
  - You'll need to write some code to create the counts representing the numbers of bikes sold
  - First I would just create separate rows showing the customer, bike kind and quantity.
  - Then you'll need to group the customers into a single column showing the number of bikes bought for each type. (Pandas `groupby` and `agg` are very useful here)
- Plot the data
  - You should have a matrix of customers vs. something with cell values representing counts.
  - Scale that data
  - Use the provided function `flatten` to flatten the n-dimensional data into 2D. You should be left with lots of customers but only two features.
  - Plot the data. What does it look like? Are we seeing any "structure"? If so, continue. If not, go back to the data. Do your numbers make sense? Are you using the valid columns?
- Cluster the data
  - If you do see structure, try some clustering. How many clusters are there? (Silhouette scores and elbow method)
- What do these clusters mean?
  - Print out the members of these clusters.
  - What are their buying habits? What metrics cause them to be in such a cluster? What can you say about how your products match that customer?
- Sales
  - Despite not meaning much to you, sales might mean something to others (i.e. the boss).
  - Go back and use the prices of the bikes to see how many sales are being made to each cluster.
  - Which clusters generate the most sales? Least sales?
- Results and conclusions
  - Given your findings, what would you present to the CEO?
  - Which types of products sell well and which dont?
  - What is it about the products that makes them sell well/not well?
  - What would you recommend next?
  - What would you need to perform a full profit/loss analysis?
  - Are there knock on effects? E.g. Clear segments would help marketing.
  - Can you plot the data in a different way to highlight product defficiencies? What do customers really want?

In [4]:
# Lots of your code here!